<p id="notice"><%= notice %></p>

<p>
  <h4><strong>Name:</strong></h4>
  <h5><%= @student.name %></h5>
</p>

<p>
<h4><strong>Age:</strong></h4>
  <h5><%= @student.age %></h5>
</p>

<%= link_to 'Edit', edit_student_path(@student),class:'btn btn-warning' %> |
<%= link_to 'Back', students_path , class:'btn btn-success' %>
